#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "CodeShot.xml"
102						ICON      DISCARDABLE "Images/camera16x16.ico"
103						RCDATA    DISCARDABLE "Images/camera16x16.png"
110						BITMAP    DISCARDABLE "Images/menu/cs_menu_png.bmp"
111						BITMAP    DISCARDABLE "Images/menu/cs_menu_jpg.bmp"
112						BITMAP    DISCARDABLE "Images/menu/cs_menu_bmp.bmp"
113						BITMAP    DISCARDABLE "Images/menu/cs_menu_options.bmp"
114						BITMAP    DISCARDABLE "Images/menu/cs_menu_folder.bmp"
120						WAVE      DISCARDABLE "CameraShutterClick-Mono.wav"
104						ICON      DISCARDABLE "Images/menu/cs_options.ico"
105						RCDATA    DISCARDABLE "Images/menu/cs_options.png"
131						ICON      DISCARDABLE "Images/options/options_camera.ico"
132						ICON      DISCARDABLE "Images/options/options_file.ico"
133						ICON      DISCARDABLE "Images/options/options_settings.ico"
134						ICON      DISCARDABLE "Images/options/options_exit.ico"
130						ICON      DISCARDABLE "Images/options/options_image.ico"
140						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_minimize_lower_10x10.ico"
141						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_maximize_10x10.ico"
142						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_restore_10x10.ico"
143						ICON      DISCARDABLE "Images/options/mui_captionbar/mui_close_10x10.ico"
144						ICON      DISCARDABLE "Images/options/mui_checkbox/mui_checkbox_empty_16x16.ico"
145						ICON      DISCARDABLE "Images/options/mui_checkbox/mui_checkbox_tick_16x16.ico"
146						ICON      DISCARDABLE "Images/options/mui_radio/mui_radio_empty_16x16.ico"
147						ICON      DISCARDABLE "Images/options/mui_radio/mui_radio_16x16_alt.ico"
106						RCDATA    DISCARDABLE "Images/menu/cs_folder.png"
